section{
    background-color: var(--gray-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 12.5rem);
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.5rem;
    gap: 0.5rem;

}
.input-wrapper{
    height: 3.25rem;
    width: 46rem;
}

.is-typing{
    height: 3.25rem;
    width: 46rem;
    background-color: var(--gray-500);
    border-radius: 8px;
    padding: 0 1rem;
    padding-left: 8.25rem;
    color: var(--gray-100);
    border: 1.125px solid var(--gray-700); 
}
.is-not-typing{
    height: 3.25rem;
    width: 46rem;
    background-color: var(--gray-500);
    border-radius: 8px;
    padding: 0 1rem;
    color: var(--gray-100);
    border: 1.125px solid var(--gray-700); 
}
.input-wrapper input::placeholder{
    color: var(--gray-100);
    transition: opacity 0.1s;
}

.input-wrapper input:focus::placeholder{
    opacity: 0;
}

.input-wrapper input:focus{
    place-content: center;
    outline: none;
    border: 1.25px solid var(--purple-dark);
}

.input-wrapper span {
        color: var(--gray-100); /* Placeholder color */
        pointer-events: none; /* Ensure the span doesn't interfere with input clicks */
        transition: opacity 0.1s;
        opacity: 0; /* Show the placeholder initially */
        position: relative;
        top: -2rem;
        left: 1rem;
}
.input-wrapper:focus-within .is-not-typing {
    padding-left: 8.25rem;
}

.input-wrapper input:focus + span,
    .input-wrapper input:not(:placeholder-shown) + span {
        opacity: 1; /* Hide the placeholder when input is focused or has value */
    }

form button{
    width: 5.625rem;
    height: 3.25rem;
    padding: 1rem;
    font-weight: 700;
    color: var(--gray-100);
    border: 0;
    border-radius: 8px;
    background-color: var(--blue-dark);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

form button:hover{
    background-color: var(--blue);
}


form button img{
    height: 1rem;
    width: 1rem;
    line-height: 1.6;
}

.tasks{
    width: 46rem;
}

.tasks-management{
    display: flex;
    width: 100%;
    padding: 0 5.825rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    gap: 0.5rem;
}
.tasks-management > :first-child{
    color: var(--blue);
    font-weight: 700;
}

.tasks-management > :first-child span {
    color: var(--gray-100);
    border: 1.125px; /* Adicionei 'solid' para especificar o estilo da borda */
    border-radius: 50%;
    width: 1.5rem; /* Defina a largura */
    height: 1.1875rem; /* Defina a altura */
    margin-left: 0.375rem;
    display: inline-flex; /* Adicionei flexbox para centralizar o texto */
    align-items: center; /* Alinhar o texto verticalmente */
    justify-content: center; /* Alinhar o texto horizontalmente */
    font-weight: 700;
    background-color: var(--gray-400);
}

.tasks-management > :last-child span {
    color: var(--gray-100);
    border: 1.125px; /* Adicionei 'solid' para especificar o estilo da borda */
    border-radius: 50%;
    width: 3.25rem; /* Defina a largura */
    height: 1.1875rem; /* Defina a altura */
    margin-left: 0.375rem;
    display: inline-flex; /* Adicionei flexbox para centralizar o texto */
    align-items: center; /* Alinhar o texto verticalmente */
    justify-content: center; /* Alinhar o texto horizontalmente */
    font-weight: 700;
    background-color: var(--gray-400);
}

.tasks-management > :last-child{
    color: var(--purple);
    font-weight: 700;
}

.empty-tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 4rem;    
}

.empty-tasks img{
    height: 3.5rem;
    width: 3.5rem;
}

.empty-tasks > p:first-of-type {
    padding-top: 1rem;
    font-weight: 700;
    color: var(--gray-100);


}

.empty-tasks > p:last-of-type {
    color: var(--gray-200);
}
.tasks-list{
    padding-top: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 46rem;
}

.task-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    border: 1.125px solid var(--gray-100);
    border-radius: 8px;
}

@keyframes checkboxCheck {
    0% {
        transform: scale(1);
        background-color: var(--blue);
        border-color: var(--blue);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--purple-dark);
        border-color: var(--primary);
    }
    100% {
        transform: scale(1);
        background-color: var(--purple-dark);
        border-color: var(--primary);
    }
}

.task-item div .checkbox {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1rem;
    color: var(--gray-100);
    -webkit-appearance: none;
    margin: 0 1rem 0 0;
    font: inherit;
    color: currentColor;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid var(--blue);
    border-radius: 50%; /* Updated to make it a circle */
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin-left: 1rem;
    transition: transform 0.2s ease;
}

.task-item .checkbox:checked {
    animation: checkboxCheck 0.4s ease forwards;
    background-color: var(--purple-dark);
    border-color: var(--primary);
    color: var(--purple-dark);
}

.task-item > span{
    flex-grow: 1;
    word-break: break-word;
    color: var(--gray-100);
    font-weight: 400;
    font-size: 0.95rem;
}

.task-item button {
    width: 1.66rem;
    height: 1.66rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

.task-item button:hover {
    background-color: var(--gray-400);
    border-radius: 2px;
}

.task-item button:hover :first-child{
    color: var(--danger);
    fill: var(--danger);
}

.is-done{
    opacity: 0.5;
}

.is-done span{
    text-decoration: line-through;
    color: var(--gray-200);
}